.quiz {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 5px;
  margin: 1.5rem 0;
}

.scoreSection {
  font-size: 1.5rem;
  text-align: center;
}

.questionSection {
  margin-bottom: 1.5rem;
}

.questionCount {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.questionText {
  font-size: 1.2rem;
}

.answerSection button {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.answerSection button:hover {
  background-color: #f0f0f0;
}
